<div class="container">
  <div class="jumbotron text-center">
    <h1>Il est temps de s'y mettre!<br><br><span class="label label-info">{{ tasks.length }} taches</span></h1>
  </div>

  <div id="todo-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <div class="checkbox" *ngFor="let task of tasks">
        <label>
          <div> {{ task.name }}  {{task.days}} <button (click)="deleteTask(task)">Delete</button></div>
        </label>
      </div>

    </div>
  </div>

  <div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form>
        <div class="form-group">
          <input type="text" class="form-control input-lg text-center" placeholder="Ajouter une tâche">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="sendTask(task)">Ajouter</button>
      </form>
    </div>
  </div>

</div>
